<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recherche!{% endblock %}</title>

</head>
<body>

<header>
    <h1>Les recettes de Sael</h1>

    <form method="get" action="{{ path('create_recipe') }}">
        <label>
            <input type="text" name="search" />
        </label>

        <input type="submit" value="Rechercher">
    </form>
</header>
{% block body %}{% endblock %}
</body>
</html>