{% extends "public/base.html.twig" %}


{% block title %}Accueil | Les recettes de Sael{% endblock %}

{% block body %}

    <main>

        <h1>Les recettes de Sael</h1>
        <h2>Y'a pas y'a pas !</h2>


    </main>

{% endblock %}