{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div>
        {{ contact.email }}
        {{ contact.name }}
        {{ contact.message }}
    </div>
{% endblock %}
